.bod{
    margin: 0;
    padding-top: 80px;
    padding-left: 95px;
    padding-right: 20px;
    background-color: rgb(251, 251, 251);
}
.p{
    font-family: Arial, Helvetica, sans-serif;
    
}