.main-video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 30px;
}
.channel-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
}

.thumbnail{
    width: 100%;
    display: block;
}
.thumb-row
{
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;
}


.icon{
    width: 40px;
    border-radius: 30px;
    cursor: pointer;
}


.video-title {
    margin-top: 0;
    font-size: 14px;
    font-weight:bold;
    line-height: 18px;
    margin-bottom: 0;
    
}

.video-author{
    font-size: 14px;
    color: grey;
    margin-top: 8px;
    margin-bottom: 3px;
}

.video-views{
    font-size: 14px;
    color: grey;
    margin-top: 0;
}
.video-time{
    background-color: black;
    color: white;
    position: absolute;
    bottom: 4px;
    right: 4px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 500;
    border-radius: 2px;
    padding: 4px; 
    
}